<div class="container">
    <h2>Lista de Ventas</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID Venta</th>
          <th>ID Usuario</th>
          <th>Nombre Usuario</th>
          <th>Fecha Venta</th>
          <th>Total</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let venta of ventas">
          <td>{{ venta.id_venta }}</td>
          <td>{{ venta.id_usuario }}</td>
          <td>{{ venta.nombre }}</td>
          <td>{{ venta.fecha_venta }}</td>
          <td>{{ venta.total}}</td>
          <td>
            <button class="btn btn-danger" (click)="eliminarProducto(producto.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
